:root {
    --main-color: #ff8c00;
    --letter-color: #ffffff;
    --main-line_width: 3px;
  }

h2 {
	background: var(--main-color);
	color: var(--letter-color);
    font-weight: bold;
    padding: 0.75rem 2rem;
    width: 80%;
}

.fieldset-container {
    border: var(--main-line_width) solid var(--main-color);
    width: 80%;
    margin: 0 auto 0 0;
    margin-bottom: 2em;
}

.fieldset-title {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--main-color);
}

.list-items {
    color: var(--letter-color);
    font-size: 1.0em;
    line-height: 2;
}

.list-items span {
    color: var(--main-color);
    font-weight: bold;
}